In [1]:
#1. WAS to print 'helloworld' by using shell.
a='helloworld'
print(a)

helloworld

In [5]:
#2. WAS to print 'helloworld' by using print function.
a='helloworld'
print(a)

helloworld

In [6]:
#3. WAS to initialize variable and value as 50.
a=50
print(a)

50

In [7]:
#4. WAS to initialize multivariables values as 150,120,250,take your own variables.
a,b,c = 150,120,250
print(a,b,c)

150 120 250

In [9]:
#5. WAS to print the type of the data in given value.
a=(10,20)
b=[10,20]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [10]:
#6. WAS to print address of the memory block in given value.
a=[1,2,3]
print(id(a))

1539728828224

In [19]:
#7. WAS to print your details,first store your details,extract the values and display it.
a={'name':'shahed','age':22,'place':'MBNR'}
print(a['name'])
print(list(a.keys()))
print(list(a.values()))
print((list(a.items())))

shahed
['name', 'age', 'place']
['shahed', 22, 'MBNR']
[('name', 'shahed'), ('age', 22), ('place', 'MBNR')]

In [20]:
#8. WAS to swap the two values with a temp variable.
a='hai'
b='bye'
temp=a
a=b
b=temp
print(a,b)

bye hai

In [21]:
#9. WAS to swap the two values without a temp variable.
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [23]:
#10. WAS to initialize a value and print the value, after print the value then reinitialize the new value to the existing variable and display the value.
a={'a':'qspiders'}
print(a['a'])
a=[10,20]
print(a)

qspiders
[10, 20]

In [1]:
#11. WAS to convert single value to multi value datatype.
a=150
print(list(str(a)))

['1', '5', '0']

In [6]:
#12. WAS to concat the two multi value data types(str,list,tuple,set,dict).
#(a)concat 2 strings
a='hello'
a+='world'
print(a)
#(b) concat list with string
b=[10,20,30]
b+='hai'
print(b)
#(c) list with tuple
c=[100,200,300]
c+=(400,500)
print(c)
#(d) tuple with list is not possible directly. indirectly it is possible i.e; by using typecasting

#(e) list with dict
e=[1,2,3]
e+={'a':4,'b':5}
print(e)
#(f) list with set
f=['a','b','c']
f+={'d','e'}
print(f)

helloworld
[10, 20, 30, 'h', 'a', 'i']
[100, 200, 300, 400, 500]
[1, 2, 3, 'a', 'b']
['a', 'b', 'c', 'e', 'd']

In [8]:
#13. WAS to check the length of the collection.
a='helloworld'
print(len(a))
b=(10,20,30)
print(len(b))

10
3

In [13]:
#14. WAS to check find out the middle value of given collection.
a=[10,20,30,40,50]
print(a[len(a)//2])
b='hello'
print(b[len(b)//2])

30
l

In [14]:
#15. WAS to concat the new string into the strarting of given string.
a='world'
a='hello'+a
print(a)

helloworld

In [15]:
#16. WAS to concat the new string into the ending of the given string.
a='hello'
a+='world'
print(a)

helloworld

In [20]:
#17. WAS to concat the new string into the middle of the given string.
a='hey r u'
a=a[0:len(a)//2]+' how'+a[len(a)//2:]
print(a)

b=[1,2,3,4,5,6]
b=b[0:len(b)//2]+[10,20]+b[len(b)//2:]
print(b)

hey how r u
[1, 2, 3, 10, 20, 4, 5, 6]

In [9]:
#18. WAS to modify the new character into the middle of the given string.
a='pyspiders'
a=a[0:len(a)//2]+'l'+a[len(a)//2+1:]
print(a)

pysplders

In [10]:
#19. WAS to modify the sequence of characters in given string.
a='pyspiders'
a=a[0:2]+'SPI'+a[5:]
print(a)

pySPIders

In [12]:
#20. WAS to replace the old character into the new character of the given string.
a='helloworld'
a=a[0:5]+'W'+a[6:]
print(a)

helloWorld

In [13]:
#21. WAS to delete the specific character in the given string.
a='pyspiders'
a=a[0:4]+a[5:]
print(a)

pyspders

In [15]:
#22. WAS to concat the new string into the specific position of the given string.
a='pyspidersders'
a=a[0:9]+' qspi'+a[9:]
print(a)

pyspiders qspiders

In [16]:
#23. WAS to delete the sequence of characters in the given string.
a='how are you'
a=a[0:4]+a[8:]
print(a)

how you

In [17]:
#24. WAS to concat the new value into the starting of the given list.
a=[30,40,50]
a[0:0]=[10,20]
print(a)

[10, 20, 30, 40, 50]

In [20]:
#25. WAS to concat the new value into the ending of the given list.
a=[10,20,'hai']
a+=['how','are','you',40]
print(a)

#(OR)

b=[10,20,'hai']
b[3:3]=['how','are','you',40]
print(b)

[10, 20, 'hai', 'how', 'are', 'you', 40]
[10, 20, 'hai', 'how', 'are', 'you', 40]

In [27]:
#26. WAS to concat the new value into the middle of the given list.
a=[10,20,'how','are','you']
a[len(a)//2:len(a)//2]=['hello']
print(a)

[10, 20, 'hello', 'how', 'are', 'you']

In [1]:
#27. WAS to concat the new value to the specific position of the given list.
a=[10,20,30,40]
a[2:2]=['a','b']
print(a)

[10, 20, 'a', 'b', 30, 40]

In [3]:
#28. WAS to modify the new values into the specific position of the given list.
a=[10,20,30,40,50]
a[2]='a'
print(a)

[10, 20, 'a', 40, 50]

In [4]:
#29. WAS to modify the new value into the starting of the given list.
a=[1,2,3,4]
a[0]=0
print(a)

[0, 2, 3, 4]

In [5]:
#30. WAS to modify new value into the ending of the given list.
a=['a','b',True,None,100]
a[-1]=False
print(a)

['a', 'b', True, None, False]

In [10]:
#31. WAS to modify the new value into the middle of the given list.
a=[1,2,'a',5,6]
a[len(a)//2]=[3,4]
print(a)

[1, 2, [3, 4], 5, 6]

In [11]:
#32. WAS to modify the first 4 position values into the given list.
a=[1,2,3,4,'e','f']
a[0:4]=['a','b','c','d']
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [12]:
#33. WAS to modify the sequence of values into a given list.
a=[1,2,3,4,5,6,7,8]
a[1::2]=['a','b','c','d']
print(a)

[1, 'a', 3, 'b', 5, 'c', 7, 'd']

In [14]:
#34. WAS to delete the values in the specific position of the given list.
a=[1, 'a', 3, 'b', 5, 'c', 7, 'd']
del a[1]
del a[3]
print(a)

[1, 3, 'b', 'c', 7, 'd']

In [18]:
#34. WAS to modify the values at specific positions in a given list by using updation.
a=[1,3,2,5,4,7,8,6,9,15]
a[2::2]=[4,16,64,81]
print(a)
#OR
b=[1,3,2,5,4,7,8,6,9,15]
b[2]=b[2]**2
b[4]=b[4]**2
b[6]=b[6]**2
b[8]=b[8]**2
print(b)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [20]:
#35. WAS to delete the new value into the ending of list.
a=[1,2,3,4,5]
del a[-1]
print(a)

[1, 2, 3, 4]

In [23]:
#36. WAS to delete the new value into the starting of list.
a=[1,2,3,4,5]
del a[0]
print(a)

[2, 3, 4, 5]

In [24]:
#37. WAS to delete the values into the middle of list.
a=[1,2,3,4,5]
del a[len(a)//2]
print(a)

[1, 2, 4, 5]

In [25]:
#38. WAS to concat the new value into starting of tuple.
a=(1,2,3,4,5,6)
a=('a','b')+a
print(a)

('a', 'b', 1, 2, 3, 4, 5, 6)

In [26]:
#39. WAS to concat the new value into middle of tuple.
a=(1,2,3,4,5,6)
a=a[0:len(a)//2]+('a','b')+a[len(a)//2:]
print(a)

(1, 2, 3, 'a', 'b', 4, 5, 6)

In [27]:
#40. WAS to concat the new value into ending of tuple.
a=(1,2,3,4,5,6)
a+=(7,8)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8)

In [1]:
#41. WAS to modify the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+('a','b')+a[4:]
print(a)

(1, 2, 'a', 'b', 5, 6)

In [2]:
#42. WAS to delete the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+a[4:]
print(a)

(1, 2, 5, 6)

In [3]:
#43. WAS to concat the new value into the set.
a={1,2,3,4,5,6}
a|={10,20,'A'}
print(a)

{1, 2, 3, 4, 5, 6, 10, 20, 'A'}

In [5]:
#44. WAS to delete the specific value into the set.
a={1,2,3,4,5,6}
a=a-{4,5,6}
print(a)
#OR
a={1,2,3,4,5,6}
a-={4,5,6}
print(a)

{1, 2, 3}
{1, 2, 3}

In [9]:
#45. WAS to concat the new key and value into the given dict.
s={'name':'shahed','age':22}
s['place']='MBNR'
print(s)
#OR
s={'name':'shahed','age':22}
t={'place':'MBNR'}
s|=t
print(s)

{'name': 'shahed', 'age': 22, 'place': 'MBNR'}
{'name': 'shahed', 'age': 22, 'place': 'MBNR'}

In [10]:
#46. WAS to delete the specific key and value in the given dict.
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
del a['age']
print(a)

{'name': 'shahed', 'place': 'MBNR'}

In [13]:
#47. WAS to modify the specific value in the given dict.
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
a['name']='shaik shahed'
print(a)
#OR
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
a|={'name':'shaik shahed'}
print(a)

{'name': 'shaik shahed', 'age': 22, 'place': 'MBNR'}
{'name': 'shaik shahed', 'age': 22, 'place': 'MBNR'}

In [18]:
#48. WAS to concat the list value and tuple value by using Type casting.
#Converting LIST to TUPLE
l=['a','b','c']
t=('d','e','f')
l=l+list(t)
print(l)
#Converting TUPLE to LIST
l=['a','b','c']
t=('d','e','f')
t=tuple(l)+t
print(t)

['a', 'b', 'c', 'd', 'e', 'f']
('a', 'b', 'c', 'd', 'e', 'f')

In [17]:
#49. WAS to concat the list and tuple value without using Type casting.
l=['a','b','c']
t=('d','e','f')
l+=t
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

In [22]:
#50. WAS to check given number is divisible by 3.
a=27
print(a%3==0)

True

In [25]:
#51. WAS to check the given number is divisble by 2 and 6.
a=24
print(a%2==0 and a%6==0)

True

In [31]:
#52. (A) WAS to extract the last digit in the given integer number(without Type casting)
a=126
print(a%10)
# (B) Extract last two digits
a=126
print(a%100)

6
26

In [32]:
#53. WAS to check the last digit is divisble by 3 from given integer number.(without type casting)
a=126
print((a%10)%3==0)

True

In [37]:
#54. WAS to check the last digit is divisible by 3 from given number(without Type casting)
a=126
print(int(str(a)[-1])%3==0)

True

In [44]:
#55. WAS to check the given number is greater than 150.
a=165
print(a>150)
#OR
a=165
['False','True'][a>150]

True

'True'

In [43]:
#56. WAS to check the given number is greater than or equal to 100.
a=165
print(a>=100)
#OR
a=165
['False','True'][a>=100]

True

'True'

In [45]:
#57. WAS to check the given number is less than 150,print the result.
a=100
print(a<150)

True

In [46]:
#58. WAS to check the given number is less than or equal to 100.
a=100
print(a<=100)

True

In [47]:
#59. WAS to check the given number is greater than 15 and less than 24.
a=20
print(a>15 and a<24)

True

In [48]:
#60.WAS to check the given number is EVEN.
a=200
print(a%2==0)

True

In [50]:
#61. WAS to check the given number is ODD.
a=201
print(a%2!=0)

True

In [53]:
#62. Write An Equation(WAE) to check perform the replication of a given string with 6.
a='abc'
a=a*6
print(a)
b=[1,2,3]
b=b*6
print(b)

abcabcabcabcabcabc
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
#63. WAE to check the given number is divisible by 3 and also the number is greater than 22.
a=27
print(a%3==0 and a>22)

True

In [55]:
#64. WAE to check perform the length of the collection is EVEN or ODD.
a='pyspiders'
print(len(a)%2==0)

False

In [57]:
#65. WAE to check perform the length of the collection less than 55 and greater than 16.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)<55 and len(a)>16)
#OR
a='abcdefghijklmnopqrstuvwxyz'
16<len(a)<55

True

True

In [58]:
#66. WAE to check perform the length of the collection is divisible by 5 and odd.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)%5==0 and len(a)%2!=0)

False

In [60]:
#67. WAE to check extract the middle position of a given collection is either str,list,tuple.
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [61]:
#68. WAE to check the given number is greater than 20 and less than 30 and it should be even.
a=26
print(20<a<30 and a%2==0)

True

In [62]:
#69. WAE to  check the given number is even and it should be less than 120.
a=100
print(a<120 and a%2==0)

True

In [63]:
#70. WAE to check the given number is even and present from 40 to 70.
a=60
print(a%2==0 and 40<a<70)

True

In [64]:
#71. WAE to check the given number is odd and should be greater than 97.
a=99
print(a%2!=0 and a>97)

True

In [65]:
#72. WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.
a=60
print(48<a<122 and a%4==0)

True

In [66]:
#73. WAE to check the given number is divisible by 3 or 5,displaying the value.
a=15
print(a%3==0 or a%5==0)

True

In [70]:
#74. WAE to check the given number is between 100 to 200 including the limit.
a=150
print(100<=a<=200)

True

In [72]:
#75. WAE to check the given number is in between 100 to 200.
a=199
print(100<a<200)

True

In [73]:
#76. WAE to check the given string last character ASCII value should be divisible by 5 or not.
a='apple'
print(ord(a[-1])%5==0)

False

In [75]:
#77. (A) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10>9 ) 
#(B) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10<9 )

False
True

In [76]:
#78. WAE to check the given number is Even or less than 25.
a=18
print(a%2==0 or a<25)

True

In [78]:
#79. WAE to check the given number is Even or greater than 25.
a=18
print(a%2==0 or a>25)

True

In [79]:
#80. WAE to check the given number is divisible by 3 or 5.
a=27
print(a%3==0 or a%5==0)

True

In [80]:
#81. WAE to check the given number is not an Even Number.
a=25
print((a)%2!=0)

True

In [81]:
#82. WAE to check the given number is not an odd Number.
a=26
print((a)%2==0)

True

In [82]:
#83. WAE to check the given number is not divisible by 3.
a=25
print((a)%3!=0)

True

In [85]:
#84. WAE to check the given number is not divisible by 3 and 5.
a=26
print(a%3!=0 and a%5!=0)

True

In [86]:
#85. WAE to check the given number is not divisible by 3 or 5.
a=26
print(a%3!=0 or a%5!=0)

True

In [90]:
#86. WAE to check the given character ASCII value is not divisible by 5.
a='h'
print(ord(a))
print(ord(a)%5!=0)

104
True

In [91]:
#87. WAE to check find out the ASCII character in a given number.
a=88
print(chr(a))

X

In [92]:
#88. WAE to find ASCII value of a given character.
a='A'
print(ord(a))

65

In [97]:
#89. WAE to check the given character is Upper case or not.
ch='A'
print(len(ch)==1 and 'A'<=ch<='Z')
#OR
ch='A'
print(len(ch)==1 and 65<=ord(ch)<=90)

True
True

In [101]:
#90. WAE to check the given character is a lower case or not.
ch='a'
print(len(ch)==1 and 'a'<=ch<='z')
#OR
ch='c'
print(len(ch)==1 and 97<=ord(ch)<=122)

True
True

In [103]:
#91. WAE to check the given character is a alphabet or not.
ch='U'
print( len(ch)==1 and 'A'<=ch<='Z' or 'a'<=ch<='z')

True

In [104]:
#92. WAE to check the given character is the ASCII Number.
ch='5'
print(len(ch)==1 and '0'<=ch<='9')

True

In [110]:
#93. WAE to check the given character is special character or not.
a='@'
print('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9')

False

In [ ]:
#WAE to check the given character should not be Upper case.