In [1]:
#1. WAP to print the 'hello world for 5 times by using while loop. 
start=0
end=5
while start<end:
    print('hello world')
    start+=1

hello world
hello world
hello world
hello world
hello world

In [2]:
#2. WAP to print the numbers from 1 to 10 by using while loop. 
start=1
end=10
while start<=end:
    print(start)
    start+=1

1
2
3
4
5
6
7
8
9
10

In [4]:
#3. WAP to print the natural numbers until 1 to nth times by using while loop. 
start=1
end=int(input())
while start<=end:
    print(start)
    start+=1

1
2
3
4
5

In [8]:

#4. WAP to print the reverse of the natural number nth to 0 times by using a while loop. 
start=int(input())
end=0
while start>end:
    print(start)
    start-=1

5
4
3
2
1

In [10]:
#5. WAP to print the whole numbers until nth times by using while loop.
start=0
end=int(input())
while start<=end:
    print(start)
    start+=1

0
1
2
3
4
5

In [2]:
#6. WAP to print the reverse of the whole number until nth times by using a while loop.
start=int(input())
end=0
while start>=end:
    print(start)
    start-=1

5
4
3
2
1
0

In [12]:
#7. WAP to print the even number until nth times by using a while loop.
start=0
end=int(input())
while start<=end:
    if start%2==0:
        print(start)
    start+=1

0
2
4
6
8

In [13]:
#8. WAP to print reverse the even number until nth times by using a while loop.
start=int(input())
end=0
while start>=end:
    if start%2==0:
        print(start)
    start-=1

8
6
4
2
0

In [14]:
#9. WAP to print the odd number until nth times by using a while loop.
start=1
end=int(input())
while start<=end:
    if start%2!=0:
        print(start)
    start+=1

1
3
5
7
9

In [15]:
#10. WAP to print reverse the odd numeber until the nth times by using a while loop.
start=int(input())
end=1
while start>=end:
    if start%2!=0:
        print(start)
    start-=1

9
7
5
3
1

In [22]:
#11. WAP to print nth table 1 to 20,format 5*1=5 to 5*20=100.
num=int(input())
start=1
end=20
while start<=end:
    num2=num*start
    print(num,'*',start,'=',num2)
    start+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [23]:
#12. WAP to print the nth table 20 to 1,format 5*20=100 to 5*1=5.
num=int(input())
start=20
end=1
while start>=end:
    num2=num*start
    print(num,'*',start,'=',num2)
    start-=1

5 * 20 = 100
5 * 19 = 95
5 * 18 = 90
5 * 17 = 85
5 * 16 = 80
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [25]:
#13. WAP to  print the numbers which are divisible by 3 from 25 to 66.
start=25
end=66
while start<=end:
    if start%3==0:
        print(start)
    start+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [26]:
#14. WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.
start=15
end=76
while start<=end:
    if start%3==0 and start%5==0:
        print(start)
    start+=1

15
30
45
60
75

In [28]:
#15. WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.
start=77
end=22
while start>=end:
    if start%5==0 and start%7==0:
        print(start)
    start-=1

70
35

In [35]:
#16. WAP to print the "love you" if divisible by 3, or print "hate you" value if divisible by 5, to print "i like you" if divisible by 3 and 5, from 1 to 30.
start=1
end=30
while start<=end:
    if start%3==0:
        print(start, "love you")
    if start%5==0:
        print(start, "hate you")
    if start%3==0 and start%5==0:
        print(start, "i like you")
    start+=1

3 love you
5 hate you
6 love you
9 love you
10 hate you
12 love you
15 love you
15 hate you
15 i like you
18 love you
20 hate you
21 love you
24 love you
25 hate you
27 love you
30 love you
30 hate you
30 i like you

In [45]:
#17. WAP to print the sum of 1 to nth natural numbers.
start=1
end=int(input())   #10
sum1=0
while start<=end:
    sum1+=start
    start+=1
print(sum1)
#or
# start=1
# end=int(input())   #10
# sum1=0
# while start<=end:
#     sum1+=start
#     print(sum1)
#     start+=1

1
3
6
10
15
21
28
36
45
55

In [62]:
#18. WAP to print sum of the even numbers 1 to 20 numbers.
start=0
end=20
sum1=0
while start<=end:
    if start%2==0:
        sum1+=start
    start+=1
print(sum1)

110

In [76]:
#19. WAP to print products of 1 to 6 numbers.
start=1
end=6
pr=1
while start<=end:  
    pr*=start
    start+=1
print(pr)

720

In [77]:
#20. WAP to count the no of odd values from 1 to 30.
start=1
end=30
count=0
while start<=end:
    if start%2!=0:
        count+=1
    start+=1
print(count)

15

In [ ]:
#21. WAP to print the factors of the given number.